/* Variable Declaration */
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"); }

/* Mixins*/
/* Reusable Classes */
.trending-ads > .content > .item > .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently not supported by any browser */ }

/* Base */
html, body, main {
  min-height: 100%;
  height: 100%; }

* {
  font-family: 'Roboto', Helvetica, Arial, sans-serif; }

a, a:hover, a:active {
  text-decoration: none; }

.-italic {
  font-style: italic; }

.-bold {
  font-weight: bold; }

/* Layout */
/* State */
/* Module */
.main-header-wrap {
  width: 100%;
  margin-bottom: 14px; }
  .main-header-wrap > .main-header {
    width: 1000px;
    margin: 0 auto; }
    @media (max-width: 1000px) {
      .main-header-wrap > .main-header {
        width: 100%; } }
    .main-header-wrap > .main-header > .top > .left {
      width: 65%;
      float: left; }
      @media (max-width: 1000px) {
        .main-header-wrap > .main-header > .top > .left {
          width: 100%; } }
      @media (max-width: 480px) {
        .main-header-wrap > .main-header > .top > .left {
          width: 100%;
          float: none; } }
      .main-header-wrap > .main-header > .top > .left > .main-logo {
        float: left;
        margin: 4px 18px 0 0; }
        @media (max-width: 1000px) {
          .main-header-wrap > .main-header > .top > .left > .main-logo {
            float: none;
            padding: 0 10px; } }
        @media (max-width: 480px) {
          .main-header-wrap > .main-header > .top > .left > .main-logo {
            float: none;
            margin: 0;
            text-align: center; } }
      .main-header-wrap > .main-header > .top > .left > .top-nav {
        float: left;
        padding: 0;
        margin: 14px 0 0;
        list-style: none; }
        @media (max-width: 480px) {
          .main-header-wrap > .main-header > .top > .left > .top-nav {
            float: none; } }
        .main-header-wrap > .main-header > .top > .left > .top-nav > li {
          position: relative;
          float: left; }
          @media (max-width: 480px) {
            .main-header-wrap > .main-header > .top > .left > .top-nav > li {
              float: none; } }
          .main-header-wrap > .main-header > .top > .left > .top-nav > li > a {
            padding: 10px 15px;
            display: inline-block;
            font-size: 16px;
            text-transform: uppercase;
            color: #000; }
            @media (max-width: 480px) {
              .main-header-wrap > .main-header > .top > .left > .top-nav > li > a {
                width: 100%;
                border-bottom: 1px solid #ea1d28; } }
            .main-header-wrap > .main-header > .top > .left > .top-nav > li > a:hover {
              background: #ea1d28;
              color: #fff; }
          .main-header-wrap > .main-header > .top > .left > .top-nav > li > .sub-menu {
            position: absolute;
            width: 885px;
            display: none;
            padding: 10px 30px;
            z-index: 5;
            border-top: 2px solid #ea1d28;
            background: #fff;
            -webkit-columns: 300px 2;
            -moz-columns: 300px 2;
            columns: 300px 2;
            /* -webkit-box-shadow: 0px 5px 8px 1px $gray;
                 -moz-box-shadow: 0px 5px 8px 1px $gray;
                      box-shadow: 0px 5px 8px 1px $gray; */
            border-bottom: 1px solid #8e8e8e;
            border-left: 1px solid #8e8e8e;
            border-right: 1px solid #8e8e8e; }
            @media (max-width: 480px) {
              .main-header-wrap > .main-header > .top > .left > .top-nav > li > .sub-menu {
                position: relative;
                width: 100%;
                padding: 10px;
                -webkit-columns: 150px 2;
                -moz-columns: 150px 2;
                columns: 150px 2;
                border: 0;
                border-bottom: 1px solid #8e8e8e; } }
            .main-header-wrap > .main-header > .top > .left > .top-nav > li > .sub-menu > .cols > p {
              padding: 15px 0;
              font-size: 18px;
              font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif; }
              @media (max-width: 480px) {
                .main-header-wrap > .main-header > .top > .left > .top-nav > li > .sub-menu > .cols > p {
                  padding: 0;
                  font-size: 16px; } }
            .main-header-wrap > .main-header > .top > .left > .top-nav > li > .sub-menu > .cols > ul {
              list-style: none;
              padding: 0;
              -webkit-columns: 150px 2;
              -moz-columns: 150px 2;
              columns: 150px 2; }
              .main-header-wrap > .main-header > .top > .left > .top-nav > li > .sub-menu > .cols > ul > li > a {
                padding: 5px 0;
                display: inline-block;
                color: #000; }
                .main-header-wrap > .main-header > .top > .left > .top-nav > li > .sub-menu > .cols > ul > li > a > span {
                  color: #8e8e8e; }
                .main-header-wrap > .main-header > .top > .left > .top-nav > li > .sub-menu > .cols > ul > li > a:hover {
                  text-decoration: underline; }
          .main-header-wrap > .main-header > .top > .left > .top-nav > li:hover > .sub-menu {
            display: block; }
    .main-header-wrap > .main-header > .top > .right {
      width: 35%;
      float: right; }
      @media (max-width: 1000px) {
        .main-header-wrap > .main-header > .top > .right {
          width: 100%; } }
      @media (max-width: 480px) {
        .main-header-wrap > .main-header > .top > .right {
          width: 100%;
          float: none;
          margin-top: 10px; } }
      .main-header-wrap > .main-header > .top > .right > .location-lang-wrap {
        float: left;
        margin: 23px 0 0 20px; }
        @media (max-width: 1000px) {
          .main-header-wrap > .main-header > .top > .right > .location-lang-wrap {
            margin: 0 0 0 5px;
            padding: 10px; } }
        @media (max-width: 480px) {
          .main-header-wrap > .main-header > .top > .right > .location-lang-wrap {
            margin: 0;
            padding: 10px; } }
        .main-header-wrap > .main-header > .top > .right > .location-lang-wrap > a {
          position: relative;
          display: inline-block;
          font-size: 16px;
          color: #8e8e8e;
          text-transform: uppercase; }
          .main-header-wrap > .main-header > .top > .right > .location-lang-wrap > a > .text {
            margin-right: 5px; }
          .main-header-wrap > .main-header > .top > .right > .location-lang-wrap > a > .sub-menu {
            position: absolute;
            width: 100px;
            display: none;
            background: #fff;
            border-bottom: 1px solid #d1d1d1;
            border-left: 1px solid #d1d1d1;
            border-right: 1px solid #d1d1d1; }
            .main-header-wrap > .main-header > .top > .right > .location-lang-wrap > a > .sub-menu > ul {
              list-style: none;
              padding: 0 0 0 17px; }
              .main-header-wrap > .main-header > .top > .right > .location-lang-wrap > a > .sub-menu > ul > li {
                font-size: 13px; }
                .main-header-wrap > .main-header > .top > .right > .location-lang-wrap > a > .sub-menu > ul > li:hover {
                  text-decoration: underline; }
          .main-header-wrap > .main-header > .top > .right > .location-lang-wrap > a:hover > .sub-menu {
            display: block; }
        .main-header-wrap > .main-header > .top > .right > .location-lang-wrap > .lang > .sub-menu {
          left: -10px;
          width: 70px; }
          .main-header-wrap > .main-header > .top > .right > .location-lang-wrap > .lang > .sub-menu > ul {
            padding: 0 0 0 12px; }
        .main-header-wrap > .main-header > .top > .right > .location-lang-wrap > .sep {
          margin: 0 5px;
          color: #d9dee8; }
      .main-header-wrap > .main-header > .top > .right > .login-signup {
        margin: 23px 0 0;
        float: right; }
        @media (max-width: 1000px) {
          .main-header-wrap > .main-header > .top > .right > .login-signup {
            margin: 0;
            padding: 10px; } }
        @media (max-width: 480px) {
          .main-header-wrap > .main-header > .top > .right > .login-signup {
            margin: 0;
            padding: 10px; } }
        .main-header-wrap > .main-header > .top > .right > .login-signup > a {
          font-size: 16px;
          color: #8e8e8e;
          text-transform: uppercase; }
          .main-header-wrap > .main-header > .top > .right > .login-signup > a > .glyphicon {
            margin-right: 5px;
            font-size: 13px; }
        .main-header-wrap > .main-header > .top > .right > .login-signup > .sep {
          margin: 0 5px;
          color: #8e8e8e; }
    .main-header-wrap > .main-header > .bottom {
      margin-top: 15px; }
      @media (max-width: 1000px) {
        .main-header-wrap > .main-header > .bottom {
          width: 100%; } }
      .main-header-wrap > .main-header > .bottom > .search-wrap {
        float: left;
        width: 85%; }
        @media (max-width: 1000px) {
          .main-header-wrap > .main-header > .bottom > .search-wrap {
            padding: 10px; } }
        @media (max-width: 480px) {
          .main-header-wrap > .main-header > .bottom > .search-wrap {
            float: none;
            width: 100%;
            margin-bottom: 20px; } }
        .main-header-wrap > .main-header > .bottom > .search-wrap > .category {
          float: left;
          width: 137px;
          height: 40px;
          margin-right: 7px;
          text-align: center; }
          @media (max-width: 1000px) {
            .main-header-wrap > .main-header > .bottom > .search-wrap > .category {
              width: 20%; } }
          @media (max-width: 480px) {
            .main-header-wrap > .main-header > .bottom > .search-wrap > .category {
              float: none;
              width: 100%;
              margin: 0; } }
          .main-header-wrap > .main-header > .bottom > .search-wrap > .category > a {
            width: 137px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            background: #a1a7ac;
            font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #fff; }
            @media (max-width: 1000px) {
              .main-header-wrap > .main-header > .bottom > .search-wrap > .category > a {
                width: 90%; } }
            @media (max-width: 480px) {
              .main-header-wrap > .main-header > .bottom > .search-wrap > .category > a {
                width: 100%;
                margin: 0; } }
            .main-header-wrap > .main-header > .bottom > .search-wrap > .category > a > i {
              margin-right: 10px; }
            .main-header-wrap > .main-header > .bottom > .search-wrap > .category > a:hover {
              background: #eceff2;
              color: #5a5a5a; }
          .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu {
            position: absolute;
            width: 250px;
            display: none;
            background: #eceff2;
            border-bottom: 1px solid #d1d1d1;
            border-left: 1px solid #d1d1d1;
            border-right: 1px solid #d1d1d1;
            z-index: 5; }
            @media (max-width: 480px) {
              .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu {
                width: 100%; } }
            .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul {
              list-style: none;
              padding: 17px 0 7px; }
              @media (max-width: 480px) {
                .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul {
                  width: 100%;
                  padding: 0; } }
              .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li {
                text-align: left;
                padding: 0 17px; }
                .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav {
                  width: 600px;
                  position: absolute;
                  top: 0;
                  left: 247px;
                  display: none;
                  padding: 15px;
                  background: #fff;
                  border-bottom: 1px solid #d1d1d1;
                  border-left: 1px solid #d1d1d1;
                  border-right: 1px solid #d1d1d1;
                  -webkit-box-shadow: -6px 7px 13px -3px #8e8e8e;
                  -moz-box-shadow: -6px 7px 13px -3px #8e8e8e;
                  box-shadow: -6px 7px 13px -3px #8e8e8e;
                  z-index: 2; }
                  @media (max-width: 480px) {
                    .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav {
                      width: 100%; } }
                  .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav > .block {
                    position: absolute;
                    top: 0;
                    left: -20px;
                    width: 20px;
                    height: 38px;
                    display: inline-block;
                    background: #fff;
                    z-index: 5; }
                    @media (max-width: 480px) {
                      .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav > .block {
                        display: none; } }
                  .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav > .pfs {
                    top: 17px; }
                  .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav > .pfr {
                    top: 56px; }
                  .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav > .motors {
                    top: 95px; }
                  .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav > .jobs {
                    top: 134px; }
                  .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav > .class {
                    top: 173px; }
                  .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav > .serv {
                    top: 212px; }
                  .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav > ul {
                    list-style: none;
                    padding: 0 0 0 10px;
                    -webkit-columns: 150px 2;
                    -moz-columns: 150px 2;
                    columns: 150px 2; }
                    @media (max-width: 480px) {
                      .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav > ul {
                        padding: 0; } }
                    .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav > ul > li:hover {
                      text-decoration: underline; }
                    .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav > ul > li > a {
                      display: inline-block;
                      padding: 7px;
                      color: #000;
                      font-size: 14px; }
                      .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav > ul > li > a > span {
                        color: #8e8e8e; }
                      .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > .third-nav > ul > li > a:hover {
                        text-decoration: underline;
                        color: #ea1d28; }
                .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li:hover {
                  width: 260px;
                  background: #fff;
                  box-shadow: 0px 14px 8px -10px #8e8e8e, 0px -14px 8px -10px #8e8e8e; }
                  @media (max-width: 480px) {
                    .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li:hover {
                      width: 100%;
                      -webkit-box-shadow: none;
                      -moz-box-shadow: none;
                      box-shadow: none; } }
                  .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li:hover > .third-nav {
                    display: block; }
                    @media (max-width: 480px) {
                      .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li:hover > .third-nav {
                        position: relative;
                        left: 0;
                        top: 0;
                        width: 100%;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        -webkit-columns: 100% 1;
                        -moz-columns: 100% 1;
                        columns: 100% 1;
                        border: 0;
                        border-bottom: 1px solid #d1d1d1; } }
                  .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li:hover > a {
                    border-bottom: 0; }
                .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > a {
                  width: 100%;
                  padding: 9px 0;
                  display: inline-block;
                  border-bottom: 1px solid #8e8e8e;
                  font-size: 14px;
                  color: #5a5a5a;
                  font-family: 'Roboto', Helvetica, Arial, sans-serif; }
                  .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li > a:hover {
                    text-decoration: none;
                    color: #ea1d28; }
                .main-header-wrap > .main-header > .bottom > .search-wrap > .category > .sub-menu > ul > li:last-child > a {
                  border-bottom: none; }
          .main-header-wrap > .main-header > .bottom > .search-wrap > .category:hover > .sub-menu {
            display: block; }
        .main-header-wrap > .main-header > .bottom > .search-wrap > .search {
          float: left;
          border: 2px solid #ea1d28; }
          @media (max-width: 480px) {
            .main-header-wrap > .main-header > .bottom > .search-wrap > .search {
              float: none; } }
          .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs {
            float: left;
            width: 575px; }
            @media (max-width: 1000px) {
              .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs {
                width: 60%; } }
            @media (max-width: 480px) {
              .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs {
                float: none;
                width: 100%; } }
            .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > input {
              float: left;
              width: 447px;
              height: 36px;
              padding: 0 0 0 10px;
              border: none;
              border-radius: 0;
              outline: 0;
              font-size: 20px; }
              @media (max-width: 1000px) {
                .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > input {
                  width: 60%; } }
              @media (max-width: 480px) {
                .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > input {
                  width: 70%; } }
            .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > .filter {
              float: right; }
              @media (max-width: 1000px) {
                .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > .filter {
                  width: 30%; } }
              .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > .filter > a {
                width: 118px;
                padding: 0 0 0 10px;
                display: inline-block;
                line-height: 36px;
                font-size: 16px;
                border-left: 1px solid #d1d1d1;
                color: #5a5a5a; }
                @media (max-width: 480px) {
                  .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > .filter > a {
                    width: 100%;
                    border-left: 0; } }
                .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > .filter > a > .caret {
                  margin-left: 70px; }
                  @media (max-width: 1000px) {
                    .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > .filter > a > .caret {
                      margin-left: 30px; } }
                  @media (max-width: 480px) {
                    .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > .filter > a > .caret {
                      margin-left: 70px; } }
              .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > .filter > .sub-menu {
                position: absolute;
                width: 118px;
                display: none;
                background: #fff;
                border-bottom: 1px solid #d1d1d1;
                border-left: 1px solid #d1d1d1;
                border-right: 1px solid #d1d1d1; }
                .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > .filter > .sub-menu > ul {
                  list-style: none;
                  padding: 0 0 0 10px; }
                  .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > .filter > .sub-menu > ul > li {
                    font-size: 13px; }
                    .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > .filter > .sub-menu > ul > li:hover {
                      text-decoration: underline; }
              .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > .filter:hover > .sub-menu {
                display: block; }
                @media (max-width: 480px) {
                  .main-header-wrap > .main-header > .bottom > .search-wrap > .search > .inputs > .filter:hover > .sub-menu {
                    width: 30%; } }
          .main-header-wrap > .main-header > .bottom > .search-wrap > .search > button {
            float: right;
            width: 118px;
            height: 36px;
            text-align: center;
            background: #ea1d28;
            color: #fff;
            border: none;
            outline: 0; }
            @media (max-width: 1000px) {
              .main-header-wrap > .main-header > .bottom > .search-wrap > .search > button {
                width: 30%; } }
            @media (max-width: 480px) {
              .main-header-wrap > .main-header > .bottom > .search-wrap > .search > button {
                float: none;
                width: 100%; } }
      .main-header-wrap > .main-header > .bottom > .post-add {
        float: right; }
        @media (max-width: 1000px) {
          .main-header-wrap > .main-header > .bottom > .post-add {
            width: 12%;
            margin: 10px 3% 0 0;
            text-align: center; } }
        @media (max-width: 480px) {
          .main-header-wrap > .main-header > .bottom > .post-add {
            width: 100%;
            float: none;
            text-align: center; } }
        .main-header-wrap > .main-header > .bottom > .post-add > a {
          width: 143px;
          height: 40px;
          line-height: 40px;
          display: inline-block;
          text-align: center;
          background: #ea1d28;
          color: #fff;
          border: none;
          outline: 0; }
          @media (max-width: 1000px) {
            .main-header-wrap > .main-header > .bottom > .post-add > a {
              width: 100%; } }
          @media (max-width: 480px) {
            .main-header-wrap > .main-header > .bottom > .post-add > a {
              width: 90%;
              height: 60px;
              line-height: 60px;
              font-size: 18px; } }

.main-footer {
  margin-top: 50px; }
  .main-footer > .top {
    background: #232323; }
    .main-footer > .top > .top-wrap {
      width: 1000px;
      margin: 0 auto; }
      @media (max-width: 1000px) {
        .main-footer > .top > .top-wrap {
          width: 100%;
          padding: 10px; } }
      @media (max-width: 480px) {
        .main-footer > .top > .top-wrap {
          width: 100%; } }
      .main-footer > .top > .top-wrap > .about-us, .main-footer > .top > .top-wrap .contact-us, .main-footer > .top > .top-wrap .follow-us {
        float: left;
        width: 345px;
        padding: 50px 50px 50px 0; }
        @media (max-width: 1000px) {
          .main-footer > .top > .top-wrap > .about-us, .main-footer > .top > .top-wrap .contact-us, .main-footer > .top > .top-wrap .follow-us {
            width: 100%;
            padding: 20px 20px 10px; } }
        @media (max-width: 480px) {
          .main-footer > .top > .top-wrap > .about-us, .main-footer > .top > .top-wrap .contact-us, .main-footer > .top > .top-wrap .follow-us {
            float: none;
            padding: 20px 20px 0; } }
      .main-footer > .top > .top-wrap > .follow-us {
        width: 300px;
        padding-right: 0; }
        @media (max-width: 1000px) {
          .main-footer > .top > .top-wrap > .follow-us {
            width: 100%;
            padding: 20px; } }
        @media (max-width: 480px) {
          .main-footer > .top > .top-wrap > .follow-us {
            float: none;
            padding: 20px 0 20px 20px; } }
        .main-footer > .top > .top-wrap > .follow-us > .social {
          padding-top: 15px; }
          .main-footer > .top > .top-wrap > .follow-us > .social > a {
            width: 37px;
            height: 37px;
            margin-right: 24px;
            display: inline-block;
            line-height: 37px;
            background: #919191;
            text-align: center;
            color: #000; }
            @media (max-width: 1000px) {
              .main-footer > .top > .top-wrap > .follow-us > .social > a {
                margin-right: 10px; } }
      .main-footer > .top > .top-wrap h4 {
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 16px;
        color: #fff; }
      .main-footer > .top > .top-wrap p {
        color: #8e8e8e;
        line-height: 24px; }
  .main-footer > .bottom {
    width: 1000px;
    height: 46px;
    margin: 0 auto; }
    @media (max-width: 1000px) {
      .main-footer > .bottom {
        width: 100%;
        height: 100%;
        padding: 20px; } }
    @media (max-width: 480px) {
      .main-footer > .bottom {
        width: 100%;
        height: 100%;
        padding: 20px; } }
    .main-footer > .bottom > ul {
      float: left;
      list-style: none;
      padding: 0; }
      @media (max-width: 665px) {
        .main-footer > .bottom > ul {
          float: none;
          width: 480px;
          margin: 0 auto 10px; } }
      @media (max-width: 480px) {
        .main-footer > .bottom > ul {
          float: none;
          width: 320px;
          margin: 0 auto; } }
      .main-footer > .bottom > ul > li {
        float: left; }
        .main-footer > .bottom > ul > li > a {
          padding: 0 10px;
          display: inline-block;
          line-height: 46px;
          font-size: 14px;
          color: #5a5a5a; }
          @media (max-width: 665px) {
            .main-footer > .bottom > ul > li > a {
              padding: 0 41px; } }
          @media (max-width: 480px) {
            .main-footer > .bottom > ul > li > a {
              padding: 0 5px; } }
      .main-footer > .bottom > ul:first-child > li > a {
        padding-left: 0; }
    .main-footer > .bottom > .copyright {
      float: right;
      line-height: 46px;
      font-size: 14px;
      color: #5a5a5a; }
      @media (max-width: 665px) {
        .main-footer > .bottom > .copyright {
          float: none;
          text-align: center;
          line-height: 1; } }
      @media (max-width: 480px) {
        .main-footer > .bottom > .copyright {
          float: none;
          text-align: center;
          line-height: 1; } }

.main-banner {
  width: 100%;
  height: 371px;
  background: url("../img/main-banner-bg.jpg") no-repeat center center; }
  @media (max-width: 1000px) {
    .main-banner {
      width: 100%; } }
  .main-banner > .main-banner-wrap {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden; }
    @media (max-width: 1000px) {
      .main-banner > .main-banner-wrap {
        width: 100%; } }
    .main-banner > .main-banner-wrap > h2 {
      margin-top: 93px;
      text-align: center;
      font-size: 36px;
      color: #fff; }
      @media (max-width: 1000px) {
        .main-banner > .main-banner-wrap > h2 {
          margin-top: 50px;
          font-size: 18px; } }
    .main-banner > .main-banner-wrap > .category {
      margin-top: 50px; }
      @media (max-width: 1000px) {
        .main-banner > .main-banner-wrap > .category {
          width: 480px;
          margin: 50px auto; } }
      @media (max-width: 480px) {
        .main-banner > .main-banner-wrap > .category {
          width: 270px;
          margin: 20px auto; } }
      .main-banner > .main-banner-wrap > .category > div {
        float: left;
        margin-right: 40px; }
        @media (max-width: 480px) {
          .main-banner > .main-banner-wrap > .category > div {
            margin-right: 10px; } }
        .main-banner > .main-banner-wrap > .category > div > a {
          width: 132px;
          height: 119px;
          display: inline-block;
          border: 1px solid #fff;
          text-align: center; }
          @media (max-width: 1000px) {
            .main-banner > .main-banner-wrap > .category > div > a {
              width: 100px;
              height: 80px;
              float: left;
              margin: 5px 10px; } }
          .main-banner > .main-banner-wrap > .category > div > a > .text {
            color: #fff;
            text-transform: uppercase;
            text-align: center; }
            @media (max-width: 1000px) {
              .main-banner > .main-banner-wrap > .category > div > a > .text {
                display: block;
                font-size: 11px; } }
          .main-banner > .main-banner-wrap > .category > div > a > .svg {
            display: block;
            margin: 10px 0;
            text-align: center; }
            @media (max-width: 1000px) {
              .main-banner > .main-banner-wrap > .category > div > a > .svg {
                display: block;
                height: 25px;
                text-align: center; } }
            .main-banner > .main-banner-wrap > .category > div > a > .svg > svg {
              width: 50px;
              height: 50px;
              stroke: #fff; }
              @media (max-width: 1000px) {
                .main-banner > .main-banner-wrap > .category > div > a > .svg > svg {
                  width: 30px;
                  height: 30px; } }
          .main-banner > .main-banner-wrap > .category > div > a:hover {
            border: 1px solid #ea1d28; }
            .main-banner > .main-banner-wrap > .category > div > a:hover > .text {
              color: #ea1d28; }
            .main-banner > .main-banner-wrap > .category > div > a:hover > .svg > svg {
              width: 50px;
              height: 50px;
              stroke: #ea1d28; }
              @media (max-width: 1000px) {
                .main-banner > .main-banner-wrap > .category > div > a:hover > .svg > svg {
                  width: 30px;
                  height: 30px; } }
        .main-banner > .main-banner-wrap > .category > div:last-child {
          margin-right: 0; }

.trending-ads {
  width: 1000px;
  margin: 0 auto;
  padding-top: 15px; }
  @media (max-width: 1000px) {
    .trending-ads {
      width: 100%;
      padding: 20px; } }
  .trending-ads > h2 {
    font-size: 14px;
    color: #8e8e8e;
    text-transform: uppercase; }
  .trending-ads > .content {
    margin-top: 20px; }
    .trending-ads > .content > .item {
      position: relative;
      float: left;
      width: 250px;
      height: 198px;
      display: block; }
      @media (max-width: 480px) {
        .trending-ads > .content > .item {
          float: none;
          margin: 10px auto; } }
      .trending-ads > .content > .item > img {
        position: absolute;
        top: 0;
        z-index: 1; }
      .trending-ads > .content > .item > .title {
        position: absolute;
        left: 10px;
        bottom: 30px;
        width: 230px;
        z-index: 2;
        font-size: 16px;
        font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
        color: #fff; }
      .trending-ads > .content > .item > .location-time {
        position: absolute;
        width: 230px;
        left: 10px;
        bottom: 10px;
        z-index: 2; }
        .trending-ads > .content > .item > .location-time > .location {
          float: left;
          color: #fff; }
          .trending-ads > .content > .item > .location-time > .location > img {
            margin-right: 5px; }
        .trending-ads > .content > .item > .location-time > .time {
          float: right;
          color: #fff; }
      .trending-ads > .content > .item:hover > .overlay {
        display: block; }
      .trending-ads > .content > .item > .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 198px;
        display: none;
        z-index: 2;
        background: rgba(255, 0, 0, 0.5); }

.popuplar-categories {
  width: 1000px;
  margin: 0 auto;
  padding-top: 40px; }
  @media (max-width: 1000px) {
    .popuplar-categories {
      width: 100%;
      padding: 20px; } }
  .popuplar-categories > h2 {
    font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #5a5a5a;
    text-transform: uppercase; }
  .popuplar-categories > .content > dl {
    float: left;
    width: 319px;
    margin: 15px 21px 15px 0; }
    @media (max-width: 1000px) {
      .popuplar-categories > .content > dl {
        width: 100%; } }
    .popuplar-categories > .content > dl > dt {
      font-size: 17px;
      height: 39px;
      line-height: 39px;
      background: #ea1d28;
      font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
      font-size: 16px;
      color: #fff; }
      .popuplar-categories > .content > dl > dt > span {
        width: 20px;
        height: 20px;
        margin: 0 10px;
        display: inline-block;
        vertical-align: -4px;
        border: 1px solid #fff; }
    .popuplar-categories > .content > dl > dd {
      border-bottom: 1px solid #dae1e8; }
      .popuplar-categories > .content > dl > dd > a {
        display: block;
        padding: 12px;
        color: #000; }
        .popuplar-categories > .content > dl > dd > a > span {
          color: #8e8e8e; }
    .popuplar-categories > .content > dl > .view-all {
      border-bottom: none; }
      .popuplar-categories > .content > dl > .view-all > a {
        color: #ea1d28; }
    .popuplar-categories > .content > dl:last-child {
      margin-right: 0; }

/* Pages */

/*# sourceMappingURL=app.css.map */
