.country-selection-wrap {
  width: 697px;
  margin: 0 auto;
  padding-bottom: 50px;

  @include breakpoint-up(720px) {
    width: 100%;
  }

  > h2 {
    margin: 55px 0;
    text-align: center;
  }

  > .selection {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;

    &:hover {

      > .search-result {
        display: block;
      }
    }

    > header {
      cursor: pointer;

      > p {
        margin: 0;
        float: left;
      }

      > i {
        float: right;
      }
    }

    > .search-result {
      position: absolute;
      top: 30px;
      left: -1px;
      width: 697px;
      display: none;
      padding: 10px;
      margin-top: 10px;
      background: #fff;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;

      @include breakpoint-up(720px) {
        width: 100%;
      }

      > .search {
        padding: 3px;
        border: 1px solid #ccc;

        > input {
          width: 95%;
          border: none;
          outline: 0;

          @include breakpoint-up(720px) {
            width: 90%;
          }
        }

        > span {
          display: inline-block;
          margin: 3px;
        }
      }

      > .result {
        height: 200px;
        overflow-y: scroll;
        margin-top: 10px;

        > ul {
          padding: 0;
          list-style: none;

          > li {
            border-bottom: 1px solid #ccc;

            > a {
              width: 100%;
              padding: 7px 5px;
              display: inline-block;
              color: $gray-dark;
            }
          }
        }
      }
    }
  }

  > .map {

    > img {
      width: 100%;
    }
  }
}
