.chat {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding: 0;
  margin: 0;
  text-align: right;

  @include breakpoint-up(680px) {
    display: none;
  }

  > .box {
    width: 250px;
    height: 370px;
    float: right;
    margin: 0 5px;
    background: #fff;
    border: 1px solid #dfe3e5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;

    &.minimize {
      height: 35px;
      margin-top: 335px;
    }

    > header {
      height: 30px;
      padding: 0 10px;
      margin: 1px;
      background: $red;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      &:hover {
        cursor: pointer;
      }

      > p {
        float: left;
        width: 200px;
        margin: 0;
        line-height: 30px;
        color: #fff;
        text-align: left;
        font-weight: bold;
        font-size: 13px;

        @extend %ellipsis;

        > span {
          margin-right: 5px;
        }

        > img {
          width: 24px;
          margin-right: 5px;
          border-radius: 100px;
          vertical-align: -7px;
        }
      }

      > a {
        float: right;
        line-height: 30px;
        color: #fff;
      }
    }

    > .body {
      width: 100%;
      height: 350px;
      padding: 1px;
      margin-left: 1px;
      overflow-y: scroll;
      background: #fff;

      > .message {
        padding: 5px;
        margin-bottom: 1px;
        background: #e0e3e5;

        > .avatar {
          float: left;
          margin: 0 8px;

          > img {
            width: 40px;
            border-radius: 100px;
          }
        }

        > .text {
          position: relative;
          float: left;
          width: 160px;

          > p {
            margin: 0;
            text-align: left;
            color: #777777;
            font-size: 13px;
          }

          > .user {
            font-weight: bold;
            color: #000;
            font-size: 13px;
          }

          > span {
            position: absolute;
            top: 0;
            right: 0;
            padding: 2px;
            background: #999999;
            text-align: center;
            border-radius: 5px;
            color: #fff;
            font-size: 11px;
          }
        }
      }
    }

    > .body-chat {
      width: 100%;
      height: 270px;
      padding: 1px;
      margin-left: 1px;
      overflow-y: scroll;
      background: #e0e3e5;

      > .message-chat-left {
        width: 80%;
        padding: 10px;
        margin: 10px;
        clear: both;
        background: #fff;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        -webkit-box-shadow: 3px 5px 5px -4px $gray;
           -moz-box-shadow: 3px 5px 5px -4px $gray;
                box-shadow: 3px 5px 5px -4px $gray;

        > .text {
          text-align: left;

          > .content {
            margin-bottom: 0;
          }
        }
      }

      > .message-chat-right {
        float: right;
        width: 80%;
        padding: 10px;
        margin: 10px;
        clear: both;
        background: #dbedfa;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-box-shadow: 3px 5px 5px -4px $gray;
           -moz-box-shadow: 3px 5px 5px -4px $gray;
                box-shadow: 3px 5px 5px -4px $gray;

        > .text {
          text-align: left;

          > .content {
            margin-bottom: 0;
          }
        }
      }
    }

    > footer {
      width: 100%;
      height: 70px;
      padding: 10px;
      margin: 0 1px;
      background: #e0e3e5;

      > .inputs {
        padding: 10px;
        background: #fff;

        > span {
          float: left;
          margin: 0 5px;
          font-size: 18px;
          color: $gray-dark;
          cursor: pointer;
        }

        > textarea {
          float: left;
          width: 150px;
          height: 25px;
          overflow: hidden;
          outline: none;
          border: none;
          resize: none;
        }

      }
    }
  }
}
