.chat {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding: 0;
  margin: 0;
  text-align: right;

  > .box {
    width: 250px;
    height: 370px;
    float: right;
    margin: 0 5px;
    background: #fff;
    border: 1px solid #dfe3e5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;

    &.minimize {
      height: 35px;
      margin-top: 335px;
    }

    > header {
      height: 30px;
      padding: 0 10px;
      margin: 1px;
      background: $red;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      &:hover {
        cursor: pointer;
      }

      > p {
        float: left;
        width: 200px;
        margin: 0;
        line-height: 30px;
        color: #fff;
        text-align: left;
        font-weight: bold;
        font-size: 13px;

        @extend %ellipsis;
      }

      > a {
        float: right;
        line-height: 30px;
        color: #fff;
      }
    }

    > .body {
      width: 100%;
      height: 350px;
      padding: 1px;
      margin-left: 1px;
      overflow-y: scroll;
      background: #fff;

      > .message {
        padding: 5px;
        margin-bottom: 1px;
        background: #e0e3e5;

        > .avatar {
          float: left;
          margin: 0 8px;

          > img {
            width: 40px;
            border-radius: 100px;
          }
        }

        > .text {
          position: relative;
          float: left;
          width: 160px;

          > p {
            margin: 0;
            text-align: left;
            color: #777777;
            font-size: 13px;
          }

          > .user {
            font-weight: bold;
            color: #000;
            font-size: 13px;
          }

          > span {
            position: absolute;
            top: 0;
            right: 0;
            padding: 2px;
            background: #999999;
            text-align: center;
            border-radius: 5px;
            color: #fff;
            font-size: 11px;
          }
        }
      }
    }
  }
}
