.main-header-wrap {
  width: 100%;
  margin-bottom: 14px;
  display: block;

  @include breakpoint-up(1000px) {
    display: none;
  }

  > .main-header {
    width: 1000px;
    margin: 0 auto;

    @include breakpoint-up(480px) {
      width: 100%;
    }

    > .top {

      > .left {
        width: 65%;
        float: left;

        @include breakpoint-up(480px) {
          width: 100%;
          float: none;
        }

        > .main-logo {
          float: left;
          margin: 4px 18px 0 0;

          @include breakpoint-up(480px) {
            float: none;
            margin: 0;
            text-align: center;
          }
        }

        > .top-nav {
          float: left;
          padding: 0;
          margin: 14px 0 0;
          list-style: none;

          @include breakpoint-up(480px) {
            float: none;
          }

          > li {
            position: relative;
            float: left;

            @include breakpoint-up(480px) {
              float: none;
            }

            > a {
              padding: 10px 15px;
              display: inline-block;
              font-size: 14px;
              text-transform: uppercase;
              color: #000;

              @include breakpoint-up(480px) {
                width: 100%;
                border-bottom: 1px solid $red;
              }
            }

            &:hover {

              > a {
                text-decoration: none;
                background: $red;
                color: #fff;
              }
            }

            > .sub-menu {
              position: absolute;
              width: 885px;
              display: none;
              padding: 10px 0;
              z-index: 5;
              border-top: 2px solid $red;
              background: #fff;
              -webkit-columns: 300px 2;
                 -moz-columns: 300px 2;
                      columns: 300px 2;
              /* -webkit-box-shadow: 0px 5px 8px 1px $gray;
                 -moz-box-shadow: 0px 5px 8px 1px $gray;
                      box-shadow: 0px 5px 8px 1px $gray; */
              border-bottom: 1px solid $gray;
              border-left: 1px solid $gray;
              border-right: 1px solid $gray;

              @include breakpoint-up(480px) {
                position: relative;
                width: 100%;
                padding: 10px;
                -webkit-columns: 150px 2;
                   -moz-columns: 150px 2;
                        columns: 150px 2;
                border: 0;
                border-bottom: 1px solid $gray;
              }

              > .cols {
                padding: 0 30px;

                > p {
                  padding: 10px 0 5px;
                  font-size: 18px;
                  @include font-roboto-bold();

                  @include breakpoint-up(480px) {
                    padding: 0;
                    font-size: 16px;
                  }
                }

                > ul {
                  list-style: none;
                  padding: 0;
                  -webkit-columns: 150px 2;
                     -moz-columns: 150px 2;
                          columns: 150px 2;

                  > li {

                    > a {
                      padding: 5px 5px;
                      display: inline-block;
                      color: #000;

                      > span {
                        color: $gray;
                      }

                      &:hover {
                        background: #f0f0f0;
                      }
                    }
                  }
                }

                &:first-child {
                  border-right: 1px solid #f0f0f0;
                }
              }
            }

            > .classification {
              left: -250px;
            }

            &:hover {

              > .sub-menu {
                display: block;
              }
            }
          }
        }
      }

      > .right {
        width: 35%;
        float: right;

        @include breakpoint-up(480px) {
          width: 100%;
          float: none;
          margin-top: 10px;
        }

        > .location-lang-wrap {
          float: left;
          margin: 23px 0 0 20px;

          @include breakpoint-up(480px) {
            margin: 0;
            padding: 10px;
          }

          > a {
            position: relative;
            display: inline-block;
            font-size: 14px;
            color: $gray;
            text-transform: uppercase;

            > .text {
              margin-right: 5px;
            }

            > img {
              vertical-align: -2px;
            }

            > .sub-menu {
              position: absolute;
              width: 100px;
              display: none;
              background: #fff;
              border-bottom: 1px solid #d1d1d1;
              border-left: 1px solid #d1d1d1;
              border-right: 1px solid #d1d1d1;

              > ul {
                list-style: none;
                padding: 0 0 0 17px;

                > li {
                  font-size: 13px;

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }

            &:hover {

              > .sub-menu {
                display: block;
              }
            }
          }

          > .lang {

            > .sub-menu {
              left: -10px;
              width: 70px;

              > ul {
                padding: 0 0 0 12px;
              }
            }
          }

          > .sep {
            margin: 0 5px;
            color: #d9dee8;
          }
        }

        > .login-signup {
          margin: 23px 0 0;
          float: right;

          @include breakpoint-up(480px) {
            margin: 0;
            padding: 10px;
          }

          > a {
            font-size: 14px;
            color: $gray;
            text-transform: uppercase;

            > img {
              margin-right: 5px;
              vertical-align: -2px;
              font-size: 13px;
            }
          }

          > .sep {
            margin: 0 5px;
            color: $gray;
          }

        }

      }
    }

    > .bottom {
      margin-top: 15px;

      @include breakpoint-up(480px) {
        width: 100%;
      }

      > .search-wrap {
        float: left;
        width: 85%;

        @include breakpoint-up(480px) {
          float: none;
          width: 100%;
          margin-bottom: 20px;
        }

        > .category {
          float: left;
          width: 137px;
          height: 40px;
          margin-right: 7px;
          text-align: center;

          @include breakpoint-up(480px) {
            float: none;
            width: 100%;
            margin: 0;
          }

          > a {
            width: 137px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            background: #a1a7ac;
            @include font-roboto-bold();
            font-size: 14px;
            color: #fff;

            @include breakpoint-up(480px) {
              width: 100%;
              margin: 0;
            }

            > i {
              margin-right: 10px;
            }
          }

          &:hover {

            > a {
              background: #eceff2;
              color: $gray-dark;
            }
          }

          > .sub-menu {
            position: absolute;
            width: 250px;
            display: none;
            background: #eceff2;
            border-bottom: 1px solid #d1d1d1;
            border-left: 1px solid #d1d1d1;
            border-right: 1px solid #d1d1d1;
            z-index: 5;

            @include breakpoint-up(480px) {
              width: 100%;
            }

            > ul {
              list-style: none;
              padding: 17px 0 7px;

              @include breakpoint-up(480px) {
                width: 100%;
                padding: 0;
              }

              > li {
                text-align: left;
                padding: 0 17px;

                > a {

                  > svg {
                    fill: #000;
                    margin-right: 10px;
                    vertical-align: -5px;
                  }
                }

                &:hover {

                  > a {
                    color: $red;

                    > svg {
                      fill: $red;
                    }
                  }
                }

                > .third-nav {
                  width: 600px;
                  position: absolute;
                  top: 0;
                  left: 247px;
                  display: none;
                  padding: 15px;
                  background: #fff;
                  border-bottom: 1px solid #d1d1d1;
                  border-left: 1px solid #d1d1d1;
                  border-right: 1px solid #d1d1d1;
                  -webkit-box-shadow: -6px 7px 13px -3px $gray;
                     -moz-box-shadow: -6px 7px 13px -3px $gray;
                          box-shadow: -6px 7px 13px -3px $gray;
                  z-index: 2;

                  @include breakpoint-up(480px) {
                    width: 100%;
                  }

                  > .block {
                    position: absolute;
                    top: 0;
                    left: -20px;
                    width: 20px;
                    height: 39px;
                    display: inline-block;
                    background: #fff;
                    z-index: 5;

                    @include breakpoint-up(480px) {
                      display: none;
                    }
                  }

                  > .pfs {
                    top: 17px;
                  }

                  > .pfr {
                    top: 57px;
                  }

                  > .motors {
                    top: 97px;
                  }

                  > .jobs {
                    top: 137px;
                  }

                  > .class {
                    top: 177px;
                  }

                  > .serv {
                    top: 217px;
                  }

                  > ul {
                    list-style: none;
                    padding: 0 0 0 10px;
                    -webkit-columns: 150px 2;
                       -moz-columns: 150px 2;
                            columns: 150px 2;

                    @include breakpoint-up(480px) {
                      padding: 0;
                    }

                    > li {

                      &:hover {
                        text-decoration: underline;
                      }

                      > a {
                        display: inline-block;
                        padding: 7px;
                        color: #000;
                        font-size: 14px;

                        > span {
                          color: $gray;
                        }

                        &:hover {
                          text-decoration: underline;
                          color: $red;

                          > span {
                            color: $red;
                          }
                        }
                      }
                    }
                  }
                }

                &:hover {
                  width: 260px;
                  background: #fff;
                  box-shadow:
                    0px 14px 8px -10px $gray,
                    0px -14px 8px -10px $gray;

                  @include breakpoint-up(480px) {
                    width: 100%;
                    -webkit-box-shadow: none;
                       -moz-box-shadow: none;
                            box-shadow: none;
                  }

                  > .third-nav {
                    display: block;

                    @include breakpoint-up(480px) {
                      position: relative;
                      left: 0;
                      top: 0;
                      width: 100%;
                      -webkit-box-shadow: none;
                       -moz-box-shadow: none;
                            box-shadow: none;
                      -webkit-columns: 100% 1;
                         -moz-columns: 100% 1;
                              columns: 100% 1;
                      border: 0;
                      border-bottom: 1px solid #d1d1d1;
                    }
                  }

                  > a {
                    border-bottom: 0;
                  }
                }

                > a {
                  width: 100%;
                  padding: 9px 0;
                  display: inline-block;
                  border-bottom: 1px solid $gray;
                  font-size: 14px;
                  color: $gray-dark;
                  @include font-roboto();



                  &:hover {
                    text-decoration: none;
                    color: $red;
                  }
                }

                &:last-child {

                  > a {
                    border-bottom: none;
                  }
                }
              }
            }
          }

          &:hover {

            > .sub-menu {
              display: block;
            }
          }
        }

        > .search {
          float: left;
          border: 2px solid $red;

          @include breakpoint-up(480px) {
            float: none;
          }

          > .inputs {
            float: left;
            width: 575px;

            @include breakpoint-up(480px) {
              float: none;
              width: 100%;
            }

            > input {
              float: left;
              width: 447px;
              height: 36px;
              padding: 0 0 0 10px;
              border: none;
              border-radius: 0;
              outline: 0;
              font-size: 20px;

              @include breakpoint-up(480px) {
                width: 70%;
              }
            }

            > .filter {
              float: right;

              @include breakpoint-up(480px) {
                width: 30%;
              }

              > a {
                width: 118px;
                padding: 0 0 0 10px;
                display: inline-block;
                line-height: 36px;
                font-size: 16px;
                border-left: 1px solid #d1d1d1;
                color: $gray-dark;

                @include breakpoint-up(480px) {
                  width: 100%;
                  border-left: 0;
                }

                > .caret {
                  margin-left: 70px;

                  @include breakpoint-up(480px) {
                    margin-left: 70px;
                  }
                }
              }

              > .sub-menu {
                position: absolute;
                width: 118px;
                display: none;
                background: #fff;
                border-bottom: 1px solid #d1d1d1;
                border-left: 1px solid #d1d1d1;
                border-right: 1px solid #d1d1d1;
                > ul {
                  list-style: none;
                  padding: 0 0 0 10px;

                  > li {
                    font-size: 13px;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }

              &:hover {

                > .sub-menu {
                  display: block;

                  @include breakpoint-up(480px) {
                    width: 30%;
                  }
                }
              }
            }
          }

          > button {
            float: right;
            width: 118px;
            height: 36px;
            text-align: center;
            background: $red;
            color: #fff;
            border: none;
            outline: 0;

            @include breakpoint-up(480px) {
              float: none;
              width: 100%;
            }
          }
        }
      }

      > .post-add {
        float: right;

        @include breakpoint-up(480px) {
          width: 100%;
          float: none;
          text-align: center;
        }

        > a {
          width: 143px;
          height: 40px;
          line-height: 40px;
          display: inline-block;
          text-align: center;
          background: $red;
          color: #fff;
          border: none;
          outline: 0;

          @include breakpoint-up(480px) {
            width: 90%;
            height: 60px;
            line-height: 60px;
            font-size: 18px;
          }
        }
      }
    }
  }
}

.main-header-wrap-mobile {
  position: relative;
  display: none;
  padding: 10px;

  @include breakpoint-up(1000px) {
    display: block;
  }

  > .top {

    > .main-logo {
      position: absolute;
      margin: 0;
      top: 0;
      left: 50%;
      margin-left: -48px;
    }

    > .open-nav {
      float: left;
      width: 35px;
      height: 30px;
      padding: 0;
      border: 1px solid #333;
      background: none;
      outline: 0;
      -webkit-appearance: none;

      > span {
        width: 22px;
        height: 2px;
        margin: 4px auto;
        display: block;
        border-radius: 1px;
        background-color: #333;
      }

      &:hover {
        border: 1px solid $red;

        > span {
          background-color: $red;
        }
      }
    }

    > .more-wrap {
      float: right;

      > button {
        width: 35px;
        height: 30px;
        padding: 0;
        background: none;
        border: none;
        -webkit-appearance: none;
        outline: 0;
        font-size: 24px;

        &:hover {
          color: $red;
        }
      }

      > .post-ad {
        color: $red;
      }
    }

    > .sub-menu-mobile-wrap {
      position: absolute;
      top: 45px;
      left: 0;
      width: 100%;
      display: none;
      background: #fff;
      z-index: 5;
      padding: 10px;
      border: 0;
      border-bottom: 1px solid $gray;

      ul {
        list-style: none;
        padding: 0;
      }

      .nav {

        > .login-signup {
          width: 100%;
          padding: 10px 0;

          > a {
            display: inline;
            padding: 10px 0;

            > img {
              margin-right: 10px;
              vertical-align: 0;
            }

            > span {
              margin-right: 10px;
            }

            &:hover {
              background: none;
              color: #000;
            }
          }

          .sep {
            margin: 0 5px;
          }
        }

        > .location, > .lang {
          width: 100%;

          > a {
            padding: 10px 0;

            > img {
              margin-right: 5px;
              vertical-align: -2px;
            }

            &:hover {
              background: none;
              color: #000;
            }
          }
        }

        > li {
          width: 100%;
          border-bottom: 1px solid $red;
          font-size: 16px;
          color: #000;

          > a {
            width: 100%;
            padding: 10px 15px;
            display: inline-block;
            font-size: 16px;
            text-transform: uppercase;
            color: #000;

            &:hover {
              background: $red;
              color: #fff;
            }
          }

          > .third-menu {
            display: none;

            > .cols {

              > p {
                padding: 5px 0;
                font-size: 18px;
                @include font-roboto-bold();
              }

              > ul {
                list-style: none;
                padding: 0;
                -webkit-columns: 150px 2;
                   -moz-columns: 150px 2;
                        columns: 150px 2;

                > li {

                  > a {
                    padding: 3px 0;
                    display: inline-block;
                    color: #000;

                    > span {
                      color: $gray;
                    }

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }

          &:hover {

            > .third-menu {
              position: relative;
              width: 100%;
              display: block;
              padding: 10px;
              -webkit-columns: 150px 2;
                 -moz-columns: 150px 2;
                      columns: 150px 2;
              border: 0;
            }
          }
        }
      }
    }
  }

  > .bottom {
    width: 100%;
    margin-top: 10px;

    > .category {
      float: left;
      width: 20%;
      height: 30px;
      margin-right: 2%;
      line-height: 30px;
      display: inline-block;
      background: #a1a7ac;
      @include font-roboto();
      font-size: 14px;
      color: #fff;
      text-align: center;

      > span {
        @include breakpoint-up(480px) {
          display: none;
        }
      }
    }

    > .inputs {
      position: relative;
      float: left;
      width: 78%;
      padding: 3px 10px;
      border: 2px solid $red;
      border-radius: 15px;

      > i {
        position: absolute;
        top: 6px;
        color: $red;
      }

      > input {
        width: 100%;
        padding-left: 20px;
        border: none;
        outline: none;
      }
    }
  }
}
