.main-banner {
  width: 100%;
  height: 371px;
  background: url('../img/main-banner-bg.jpg') no-repeat center center;

  @include breakpoint-up(1000px) {
    width: 100%;
  }

  > .main-banner-wrap {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;

    @include breakpoint-up(1000px) {
      width: 100%;
    }

    > h2 {
      margin-top: 93px;
      text-align: center;
      font-size: 36px;
      color: #fff;

      @include breakpoint-up(1000px) {
        margin-top: 50px;
        font-size: 18px;
      }
    }

    > .category {
      margin-top: 50px;

      @include breakpoint-up(1000px) {
        width: 480px;
        margin: 50px auto;
      }

      @include breakpoint-up(480px) {
        width: 270px;
        margin: 20px auto;
      }

      > div {
        float: left;
        margin-right: 40px;

        @include breakpoint-up(480px) {
          margin-right: 10px;
        }

        > a {
          width: 132px;
          height: 119px;
          display: inline-block;
          border: 1px solid #fff;
          text-align: center;

          @include breakpoint-up(1000px) {
            width: 100px;
            height: 80px;
            float: left;
            margin: 5px 10px;
          }

          > .text {
            color: #fff;
            text-transform: uppercase;
            text-align: center;

            @include breakpoint-up(1000px) {
              display: block;
              font-size: 11px;
            }
          }

          > .svg {
            display: block;
            margin: 10px 0;
            text-align: center;

            @include breakpoint-up(1000px) {
              display: block;
              height: 25px;
              text-align: center;
            }

            > svg {
              width: 50px;
              height: 50px;
              stroke: #fff;

              @include breakpoint-up(1000px) {
                width: 30px;
                height: 30px;
              }
            }
          }

          &:hover {
            border: 1px solid $red;
            background: $red;

            > .text {
              color: #fff;
            }

            > .svg {

              > svg {
                width: 50px;
                height: 50px;
                stroke: #fff;

                @include breakpoint-up(1000px) {
                  width: 30px;
                  height: 30px;
                }
              }
            }
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
