.modal {
  background: rgba(255, 255, 255, 0.8);

  .modal-content {
    border-radius: 0;

    > .modal-header {
      padding: 10px 15px;
      background: #43464b;

      > h4.modal-title {
        color: #fff;
        font-size: 16px;
      }

      > .close {
        color: #fff;
        opacity: 1;
      }
    }
  }

}
