.trending-ads {
  width: 1000px;
  margin: 0 auto;
  padding-top: 15px;

  > h2 {
    font-size: 14px;
    color: $gray;
    text-transform: uppercase;
  }

  > .content {
    margin-top: 20px;

    > .item {
      position: relative;
      float: left;
      width: 250px;
      height: 198px;
      display: block;

      > img {
        position: absolute;
        top: 0;
        z-index: 1;
      }

      > .title {
        position: absolute;
        left: 10px;
        bottom: 30px;
        z-index: 2;
        font-size: 16px;
        @include font-roboto-bold();
        color: #fff;
      }

      > .location-time {
        position: absolute;
        width: 230px;
        left: 10px;
        bottom: 10px;
        z-index: 2;

        > .location {
          float: left;
          color: #fff;

          > img {
            margin-right: 5px;
          }
        }

        > .time {
          float: right;
          color: #fff;
        }
      }

      > .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 198px;
        z-index: 2;
      }
    }
  }
}
