.trending-ads {
  width: 100%;
  padding-bottom: 60px;
  background: $wrap-bg;

  > .trending-ads-wrap {
    width: 1000px;
    margin: 0 auto;
    padding-top: 15px;

    @include breakpoint-up(1000px) {
      width: 100%;
      padding: 20px;
    }

    > h2 {
      font-size: 14px;
      color: $gray;
      text-transform: uppercase;
    }

    > .content {
      margin-top: 20px;

      > .item {
        position: relative;
        float: left;
        width: 250px;
        height: 198px;
        display: block;

        @include breakpoint-up(480px) {
          float: none;
          margin: 10px auto;
        }

        > img {
          position: absolute;
          top: 0;
          z-index: 1;
        }

        > .title {
          position: absolute;
          left: 10px;
          bottom: 30px;
          width: 230px;
          z-index: 2;
          font-size: 16px;
          @include font-roboto-bold();
          color: #fff;
          @extend %ellipsis;
        }

        > .location-time {
          position: absolute;
          width: 230px;
          left: 10px;
          bottom: 10px;
          z-index: 2;

          > .location {
            float: left;
            width: 70%;
            color: #fff;

            @extend %ellipsis;

            > img {
              margin-right: 5px;
            }
          }

          > .time {
            float: right;
            color: #fff;
          }
        }

        &:hover {

          > .overlay {
            display: block;
          }
        }

        > .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 250px;
          height: 198px;
          display: none;
          z-index: 2;
          background: rgba(255, 0, 0, .5)
        }
      }
    }
  }
}
